*.pyc
*.out
*.aux
*.log
*.synctex.gz
*.exo
_minted-*
Working.tex
Working.pdf
*.excerpt.*
foo/*
foo
foo.*
auto/*
auto
Lectures/Images/LoganImages
Lectures/Images/LoganImages/*
.ipynb_checkpoints
.ipynb_checkpoints/*
Assignments/Homel
Assignments/Homel/*
.DS_Store
.cache/*
.cache
__pycache__/*
__pycache__
*.pvd
*.vtu
