*.pyc
*.out
*.aux
*.log
*.synctex.gz
*.exo
*.png
*.pvd
*.vtu
_minted-*
Working.tex
Working.pdf
*.excerpt.*
foo/*
foo
foo.*
auto/*
auto
.ipynb_checkpoints
.ipynb_checkpoints/*
.DS_Store
.cache/*
.cache
__pycache__/*
__pycache__
